*/
!/i3/
!/ranger/
!/htop/
!/nvim/
!/picom/
!/polybar/
!/rofi/
!/wezterm/
!/i3/**
!/ranger/**
!/htop/**
!/nvim/**
!/picom/**
!/polybar/**
!/rofi/**
!/wezterm/**
mimeapps.list
user-dirs.dirs
user-dirs.locale
/polybar/config.ini
/ranger/plugins
QtProject.conf
