*/
!/i3/
!/nnn/
!/nvim/
!/picom/
!/polybar/
!/rofi/
!/wezterm/
!/i3/**
!/nnn/**
!/nvim/**
!/picom/**
!/polybar/**
!/rofi/**
!/wezterm/**
mimeapps.list
user-dirs.dirs
user-dirs.locale
/polybar/config.ini
